<div [class.disabled]="!correctSeries"
  [class.hidden]="sequence.getLength() <= nStepsBack + 1">
  Doing Great!!
</div>
<div class='game-container'>
  <div class="tile">
    <game-canvas [round]="getDisplayRound()">
    </game-canvas>
  </div>
  <div class="mark-same-button"
    [class.selected]="userInput[0]"
    [class.hidden]="sequence.getLength() <= nStepsBack"
    (click)="setUserInput(0)" >
    Same position
  </div>
  <div class="mark-same-button"
    [class.selected]="userInput[1]"
    [class.hidden]="sequence.getLength() <= nStepsBack"
    (click)="setUserInput(1)">
    Same color
  </div>
  <div (click)="goToNext()"
    class="next-button">
    go next
  </div>
  <div>
    current sq lenght: {{sequence.getLength()}}
  </div>
  <div class="start-game-button" (click)=startGame()>
    restart
  </div>
  <div>
    <span>steps back:</span>
    <input type="number"
      [(ngModel)]="nStepsBack" >
  </div>
</div>
