.game-container {
  color: #333;
  padding: 1em;
}

.button {
  cursor: pointer;
  user-select: none;
  border-radius: 0.5em;
  display: inline-block;
  padding: 1em;
}

.mark-same-buttons-container {
  display: inline-block;
}

.mark-same-button {
  background-color: #cec;
  margin-right: 0.5em;
}

.next-button {
  max-width: 20%;
  margin-left: 0.7em;
  background-color: #ecc;
}

.start-game-button {
  margin-bottom: 1em;
  padding: 1em;
  background-color: #ebb;
}

.selected {
  background-color: #dcf;
}

.disabled {
  opacity: 0.1;
}

.hidden {
  opacity: 0;
}
