.game-container {
  color: #333;
  padding: 1em;
}

.tile {
  margin: 1em 1em 2em 1em;
}

.game-settings {
  padding: 1em;
  max-width: 400px;
  margin: auto;

  :active {
    border: 1px solid red;
    border-radius: 1em;
  }
}

.game-controls {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
}

.game-control-button {
  margin-bottom: 1em;
  margin-right: 0.9em;
}

.game-status {
  max-width: 400px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.status-tile {
  margin-right: 1em;
}

.status-tile-label {
  font-size: 0.7em;
  opacity: 0.8;
  width: 60px;
  margin-bottom: 0;
}

.status-tile-data {
  margin-top: 0.25em;
  font-size: 1.5em;
}

.disabled {
  opacity: 0.1;
}

.active {
  box-shadow: none !important;
  filter: brightness(90%);
  transform: scale(0.96);
}

.hidden {
  opacity: 0;
}
